#test{
  visibility:visible;
}

@keyframes anime1 {
  0% {
      top: 30px;
      opacity:  0;
      visibility: hidden;
  }
   
  100% {
      top: 0;
      opacity:  1;
      visibility: visible;
      }
  }
